<p id="notice"><%= notice %></p>

<%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>

<h3 class="pb-3 mb-4 font-italic border-bottom">
  From the Firehose
</h3>

<%= render @blogs, actions: %i[show] %>
