<div class="comment-card">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <p class="card-text">
                <%= comment.content %>
            </p>
        </div>
    </div>
</div>
