<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <%= image_tag(portfolio_item.thumb_image, alt: portfolio_item.title, class: 'card-img-top') %>
    <div class="card-body">
      <p class="card-text">
        <h5><%= portfolio_item.title %>
          <small><%= portfolio_item.subtitle %></small>
        </h5>
        <p><%= truncate(portfolio_item.body, length: 127) { link_to 'more', portfolio_show_path(portfolio_item) } %></p>
      </p>
    </div>
  </div>
</div>
