<h1 class="cover-heading">Cover your page.</h1>
<div class="row">
  <p class="lead" id="typed-container"></p>
</div>
<p class="lead">
  <%= link_to('About me', about_me_path, class: 'btn btn-lg btn-secondary') %>
</p>
